.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd061;
  border-radius: 45px;
  padding: 11px 0;
  border: none;
  color: black;
  font-size: 14px;
  transition: all 0.2s;
  outline: none;
  box-shadow: 0 0 3px 0 #000;
  user-select: none;
}

.btn:hover {
  text-decoration: none;
  background-color: #c0c0fd;
  box-shadow: 0 0 7px 0 #000;
  transform: scale(1.07);
}

.btn svg {
  transition: all 0.3s;
}

.btn:hover svg {
  transform: scale(1.5);
}

.btn span,
.btn svg {
  font-weight: 400;
  font-weight: bold;
}

.btn:hover span,
.btn:hover svg {
  font-weight: bold;
  color: #040435 !important;
}

.btn svg,
.btn p {
  height: 20px;
  width: 20px;
  margin-right: 16px;
  margin-left: 16px;
}

.btn p {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 16px;
  margin-left: 16px;
}

.pos span {
  margin-left: 16px;
}

.pre span {
  margin-right: 16px;
}

.text span {
  margin-right: 16px;
  margin-left: 16px;
}

.icon svg,
.icon p {
  margin-right: 11px;
  margin-left: 11px;
  margin-bottom: 0;
}

.load {
  display: flex;
  align-items: center;
  content: 'entrar';
  justify-content: center;
}

.taglink {
  display: contents;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  justify-content: stretch;
  user-select: none;
}
