.cont{
  display: flex;
  position: fixed;
  height: 0vh;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: all .24s;
}

.open{
  height: 100vh;
  transition: all .24s;
}

.scroll{
  position: absolute;
  height: 100vh;
  width: 100%;
  transition: all .24s;
  overflow-y: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.nav{
  display: flex;
  height: 60px;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 200;
}

.item{
  display: flex;
  justify-content: flex-end;
}

.item a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 17px;
  transition: all .3s;
  height: 60px;
  width: 60px;
  border-radius: 45px;
  cursor: pointer;
  border-radius: 50%;
}

.item a i{
  font-size: 23px;
  color: #fff;
}

.item a:hover{
  background-color: var(--primary-color-var);
  text-decoration: none;
  color: #fff;
  transform: scale(1.20);
}

