.react-datepicker {
  font-size: 15px !important;
  background-color: transparent !important;
  border: none !important;
}

.react-datepicker__header div:nth-child(0) {
  margin: 10px 0 !important;
}

.date-picker__custom-head {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.date-picker__custom-head button {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  box-shadow: none;
  border: 0 !important;
  -webkit-box-shadow: 0px 0px 0px 2px var(--primary-color);
  -moz-box-shadow: 0px 0px 0px 2px var(--primary-color);
  box-shadow: 0px 0px 0px 2px var(--primary-color);
  background-color: transparent !important;
  color: white;
  margin-left: 2px;
  margin-right: 4px;
  /* padding-top: 4px;
  padding-bottom: 4px; */
  transition: all 0.2s;
}

.date-picker__custom-head button:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 208, 97, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(255, 208, 97, 1);
  box-shadow: 0px 0px 0px 2px rgba(255, 208, 97, 1);
  transform: scale(1.1);
  outline: 0;
}

.date-picker__custom-head button svg {
  padding-top: 4px;
  width: 16px;
  height: 16px;
}

.date-picker__custom-head select::after {
  content: '-' !important;
}

.date-picker__custom-head select {
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0 !important;
  -webkit-box-shadow: 0px 0px 0px 2px var(--primary-color);
  -moz-box-shadow: 0px 0px 0px 2px var(--primary-color);
  box-shadow: 0px 0px 0px 2px var(--primary-color);
  transition: all 0.2s;
}

.date-picker__custom-head select:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 208, 97, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(255, 208, 97, 1);
  box-shadow: 0px 0px 0px 2px rgba(255, 208, 97, 1);
  transform: scale(1.05);
  outline: 0;
}

.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day--disabled {
  color: rgba(255, 255, 255, 0.4) !important;
}

.react-datepicker__day--selected {
  background-color: var(--primary-color-var) !important;
  transition: all 0.2s;
}

.react-datepicker__day--selected {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 208, 97, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(255, 208, 97, 1);
  box-shadow: 0px 0px 0px 2px rgba(255, 208, 97, 1);
  transform: scale(1.05);
  outline: 0;
}

.react-datepicker__day-name {
  display: inline-flex;
  justify-content: center;
  padding-top: 10px;
  height: 40px !important;
  width: 40px !important;
  margin: 0 !important;
  color: white !important;
}

.react-datepicker__header {
  background-color: transparent !important;
  border-bottom: 2px solid var(--primary-color) !important;
}

select.decorated option {
  display: flex;
  height: 40px;
  text-align: center;
  color: white;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  background-color: var(--primary-color) !important;
}

select.decorated {
  color: white;
  overflow: hidden;
  background-color: transparent !important;
}

.react-datepicker__day:hover {
  background-color: var(--primary-color) !important;
}

.react-datepicker__day-name {
  height: 40px !important;
  width: 40px !important;
}

.react-datepicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px !important;
  height: 40px !important;
  width: 40px !important;
  padding-top: 11px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-bottom: 3px !important;
}
