@font-face {
  font-family: 'Montserrat';
  src:
    url('/libs/font/Montserrat-Regular.ttf') format('truetype'),
    url('/libs/font/Montserrat-Bold.ttf') format('truetype');
}

* {
  font-family: 'Montserrat';
  color: black;
}


:root{
  /* --primary-color: #8080ff; */
  --primary-color: #2c2c7b;
  --primary-color-var: #6191ff;
  --primary-color-trans: #86abff5e;
  --bg-primary: #11112f;
}

.bg-primary{
  background-color: var(--bg-primary);
}

.container-full-height{
  min-height: calc(100vh - 60px);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-primary);
}
a, a:hover, a:focus{
  text-decoration: none;
  color: none;
}

h1{
  text-align: center;
  margin-top: 45px;
}

.per{
  text-indent: 1.5em;
  text-align: justify;
  margin-bottom: 30px;
}

.per::first-letter{
  font-size: 18px;
  font-weight: bold;
}

.per.center{
  text-align: center;
}

#macy-container{
  margin-top: 30px;
  margin-bottom: 30px;
}