.cont {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  align-items: center;
  background-color: black;
  border-radius: 10px;
}

.framecont {
  display: flex;
  align-self: center;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.framewrap {
  display: flex;
  height: 300px;
  width: 100%;
  position: relative;
  /* padding-bottom: 56.25%; */
  /* height: 0; */
  overflow: hidden;
}

.framecont iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.imgcont a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 340px;
  border-radius: 10px;
}

.imgcont a img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.left a img {
  border-radius: 10px;
}

.right a img {
  border-radius: 10px;
}

@media only screen and (max-width: 991px) {
  .cont {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 0px) and (max-width: 329px) {
  .framewrap {
    height: 230px;
  }
  .imgcont a {
    height: 270px;
  }
}


@media screen and (min-width: 330px) and (max-width: 668px) {
  .framewrap {
    height: 290px;
  }
  .imgcont a {
    height: 310px;
  }
}

@media screen and (min-width: 668px) and (max-width: 725px) {
  .framewrap {
    height: 350px;
  }
  .imgcont a {
    height: 350px;
  }
}
