.title{
  margin-top: 40px;
  text-align: center;
}

.text{
  display: flex;
  justify-content: center;
}

.text p{
  text-indent: 1.5em;
  text-align: justify;
  margin-top: 5px;
  max-width: 300px;
}

.text p::first-letter{
  font-size: 20px;
  font-weight: bold;
}