.card {
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(100vh - 65px);
}

.figure {
  display: flex;
  width: 100%;
  height: 100%;
}

.figure img {
  width: 100%;
  object-fit: cover;
  filter: opacity(0.25);
}

.conttext {
  display: flex;
  justify-content: center;
  position: absolute;
  align-self: center;
  background-color: rgba(240, 248, 255, 0.42);
  width: 100%;
}

.text {
  width: 300px;
  padding: 20px;
}

.text > * {
  margin-bottom: 20px;
}

.text p,
.text h1,
.text h2 {
  color: black;
}

.text p {
  font-size: 16px;
}

.text h1 {
  font-size: 45px;
}

.text h2 {
  font-size: 25px;
}
