.title{
  margin-top: 40px;
  text-align: center;
}

.imghover{
  transition: all .3s;
  filter: invert(1);
}

.imghover:focus, .imghover:hover{
  transform: scale(1.1);
}

.imghover img{
  width: 130px;
  margin-bottom: 40px;
}