.card {
  display: flex;
}

.card a:hover,
.card a:focus,
.card div:hover,
.card div:focus,
.card button:hover,
.card button:focus {
  transform: scale(1.2) rotate(-15deg);
}

.card a,
.card div,
.card button {
  transition: all 0.2s;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.card a svg,
.card div svg,
.card button svg {
  width: 24px;
  height: 24px;
  color: white;
  transition: all 0.15s;
}

.iconchange svg {
  color: #3ad926 !important;
}

@media (max-width: 992px) {
  .card a svg,
  .card div svg,
  .card button svg {
    width: 20px;
    height: 20px;
  }
}
