.date{
  margin-top: 30px;
  text-align: center;
}

.title{
  margin-top: 10px;
  margin-bottom: 30px;
}

.imgcont{
  width: 100%;
}

.imgcont img, .imgcont iframe{
  border-radius: 5px;
  width: inherit;
}

.copyright{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
}

.copyright b{
  margin-right: 10px;
}

.explanationtitle{
  margin-top: 25px;
}

.explanation{
  text-indent: 1.5em;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 20px;
}

.explanation::first-letter{
  font-size: 20px;
  font-weight: bold;
}

.imgcont iframe{
  height: 300px
}

.socialcont{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

@media only screen and (min-width: 500px) {
  .imgcont iframe{
    height: 500px
  }
}

@media only screen and (min-width: 700px) {
  .imgcont iframe{
    height: 700px
  }
}