.date{
  margin-top: 30px;
  text-align: center;
  color: white;
}

.title{
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

.framecont{
   position: relative;
   width: 100%;
   padding-top: 56.25%;
}

.framecont iframe{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  width: inherit;
  height: 100%;
}

.imgcont{
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 72vh;
}

.imgcont img{
  border-radius: 5px;
  width: inherit;
  height: 100%;
} 


.copyright{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
}

.copyright b{
  margin-right: 10px;
}

.explanationtitle{
  margin-top: 25px;
  color: white;
}

.explanation{
  text-indent: 1.5em;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 20px;
  color: white;
}

.explanation::first-letter{
  font-size: 20px;
  font-weight: bold;
}

.imgcont iframe{
  height: 300px
}

.socialcont{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

@media only screen and (min-width: 500px) {
  .imgcont iframe{
    height: 500px
  }
}

@media only screen and (min-width: 700px) {
  .imgcont iframe{
    height: 700px
  }
}