.cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}

.link{
  display: flex;
  align-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.link img{
  filter: grayscale(.8);
  max-width: 80px;
  max-height: 80px;
  transition: all .3s;
}

.link img:hover, .link img:focus{
  filter: grayscale(0);
  transform: scale(1.05);
}