
.container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px dashed whitesmoke;
    background-color: var(--primary-color);
}

.container div footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 35px;
}

.container div footer p{
    margin: 0;
    font-weight: bold;
    font-size: 15px;
}