.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
    padding-top: 40px;
    padding-bottom: 40px;
}

.card > div{
    margin-top: 25px;
    margin-bottom: 25px;
}

.title{
    font-size: 25px;
    margin: 0;
}

.input textarea{
    border-radius: 50px;
    padding: 25px 35px;
    width: 500px;
    border: 1px solid var(--primary-color-trans);
    transition: all .3s;
    overflow: hidden;
    resize: none;
}

.input textarea:focus{
    outline: none;
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.15);
}
.input textarea::placeholder{
    font-weight: bold;
    opacity: .5;
}

.btns{
    display: flex;
}
.btns > div{
    margin-left: 10px;
    margin-right: 10px;
}
.btns div{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 25px;
    border-radius: 50px;
    color: #fff;
    transition: .3s;
}
.btns div:hover{
    color: #fff;
    transform: scale(1.05);
    cursor: pointer;
}

.btns div i{
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
}

.inactive{
    background-color: #e4e4e4 !important;
}


@media only screen and (max-width: 600px) {
    .input textarea{
        width: 270px;
    }
    .card {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

