.count {
  padding-top: 20px;
  padding-bottom: 20px;
}

.date {
  margin-top: 30px;
  align-items: center;
  color: white;
}

.date {
  margin-left: 3px;
  margin-right: 3px;
}

.date span:nth-child(1) {
  font-size: 16px;
}

.date span:nth-child(2) {
  font-size: 19px;
}

.date span:nth-child(3) {
  font-size: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > * {
  display: inline-flex;
  margin: 0;
}

.title {
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
  text-align: left;
  font-size: 18px;
}

.title::first-letter {
  font-size: 24px;
  font-weight: bold;
}

.copyright {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  color: white;
}

.copyright b {
  margin-right: 10px;
}

.explanation {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 25px;
  color: white;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.explanation::first-letter {
  font-size: 25px;
  font-weight: bold;
}

.imgcont iframe {
  height: 300px;
}

.socialcont {
  display: flex;
  justify-content: flex-end;
}

.btncenter {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 18px;
  }
  .copyright {
    font-size: 12px;
  }
  .count {
    padding-top: 0px;
  }

  .date span:nth-child(1) {
    font-size: 14px;
  }

  .date span:nth-child(2) {
    font-size: 16px;
  }

  .date span:nth-child(3) {
    font-size: 22px;
  }

  .explanation{
    margin-top: 5px;
    font-size: 12px;
  }
}
