
.container {
    background-color: var(--primary-color);
}

.nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu{ 
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0;
    margin: 0;
}

.menu a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    font-size: 17px;
    transition: all .3s;
    height: inherit;
    border-radius: 45px;
    cursor: pointer;
}

.menu a:hover{
    background-color: var(--primary-color-var);
    text-decoration: none;
    color: #fff;
    transform: scale(1.20);
}

.seta{
    border-radius: 50%;
    width: 60px;
}

.seta i{
    font-size: 23px;
    color: #fff;
}

.img {
    display: inline;
}

.img img{
    height: 40px;
}
